.product-suggestion--wrapper {
  max-height: 200px;
  margin: 0;
  list-style: none;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow-y: auto;
}

.product-suggestion--wrapper li {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.product-suggestion--wrapper li:hover {
  background-color: #f1f1f1;
}

.product-suggestion {
  display: flex;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
  gap: 8px;
  margin-bottom: 8px !important;
  padding-bottom: 0;
}

.ps__image {
  margin-right: 10px;
  width: 60px;
  height: 60px;
}

.ps__content {
  margin-bottom: 0;
  gap: 2px;
  p {
    margin: 0;
  }
}
